

<div class="container mb-2 mt-1">

<h1>Places</h1>



  <% if @current_user%>

    <p>
    <a class="btn btn-primary btn-sm" href="/places/new">New place</a>
    </p>

  <div class="list-group">
      <% for place in @places %>
        <a href="/places/<%= place["id"] %>" class="list-group-item list-group-item-action"><%= place["name"] %></a>
      <% end %>
  </div>
  <% else %>
    Log in to see places.
  <% end %>



</div>